<div class="product-variations">
	<ul>
	{{#each attributes}}
		<li class="attribute">
			<span class="label">Select {{name}}</span>
			<div class="value">
				<ul class="swatches {{slug}}">
				{{#each values}}
					<li class="{{class}}">
						<a class="swatchanchor" href="#">
						{{#ifeq type "img"}}
							<img src="{{value}}" title="{{title}}"/>
						{{else}}
							{{value}}
						{{/ifeq}}
						</a>
					</li>
				{{/each}}
				{{#if selected}}
					<li class="selected-value">{{selected}}</li>
				{{/if}}
				</ul>
			</div>
		</li>
	{{/each}}
	</ul>
</div>
