<section id="{{model.slug}}" class="section">
	<h2>{{model.title}}</h2>
	{{#each model.demos}}
		<div class="wrapper demo" data-column="{{../model.column}}">
			<div class="sample">
				{{{this}}}
			</div>
			<div class="code">
<pre><code class="language-markup">
{{this}}
</code></pre>
			</div>
		</div>
	{{/each}}

</section>
